@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    
  background-image: url("imagens/luffy.jfif");
  background-repeat: no-repeat;
  background-position: 48% 200px;
  background-size: 50%;
}
    



.container{
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 8% 4%;
    gap: 35px;
}

img{
    border-radius: 20px;

}



.textos{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    width: 610px;
    height: 403px;

}
.texto__titulo{
    color: #84A864;
    font-size: 36px;
}

.texto__subtitulo{
    font-size: 27px;
    margin: 0 4%;

}

.texto__texto{
    margin: 1% 4%;

}
.navegacao{
    display: flex; 
    align-self: center;
    
}

.hat{
  position: absolute;
  top: 6px;
  left: 8px;
  width: 35px;
  height: 35px;
}

.noth{
  position: absolute;
  top: 7px;
  left: 7px;
  width: 35px;
  height: 35px;
}

[data-botao] {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    margin: 25% 8%;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
   }
   
   [data-botao].learn-more {
    width: 13.5rem;
    height: auto;
   }
   
   [data-botao].learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #68864c;
    border-radius: 1.625rem;
   }
   
   [data-botao].learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   [data-botao].learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   [data-botao].learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   [data-botao].learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #fff;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   [data-botao]:hover .circle {
    width: 100%;
   }
   
   [data-botao]:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   [data-botao]:hover .button-text {
    color: #fff;
   }

   .container__botoes {
    flex-direction: column;
        height: 46vh;
        justify-content: space-between;
        position: fixed;
        bottom: 20px;
        display: flex;
        z-index: 9999;
        top: 26vh;
        right: 2%;

  }

 
  
.botoes {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  background: #636c5b;
}


.material-icons {
  display: inline-block;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  color: #fff;
}

.texto-escondido {
  position: absolute;
  top: 0;
  left: -100%;
  padding: 10px;
  background-color: #68864c;
  color: #fff;
  visibility: hidden;
  transition: all 0.1s ease;
}

.botoes.home:hover .texto-escondido {
  visibility: visible;
  left: -100%;
  top: 9px;
}

.botoes:hover .texto-escondido {
  visibility: visible;
  left: -130%;
  top: 8px;
}

.botoes:hover {
  cursor: pointer;
  background: #68864c;
  color: #fff;
}
@media screen and (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    margin: 3% 4%;
    gap: 35px;
    min-height: 100vh; /* Define altura mínima como 100% da altura da viewport */
  }
  
  .moldura {
    width: 200px;
    height: 200px;
    border: 6px solid #636c5b;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 15%;
  }
  
  img {
    width: 200px;
    height: 300px;
    position: relative;
    top: -15%;
  }
  
  .textos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    width: 436px;
    height: 295px;
  }
  
  .texto__texto {
    margin: 1% 4%;
    text-align: center;
    font-size: 16px;
  }
  
  .texto__titulo {
    color: #84A864;
    font-size: 31px;
  }
  
  [data-botao] {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    margin: 16% 8%;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
  }
  
  .navegacao {
    position: fixed;
    width: 100%;
    height: 54px;
    top: 66%;
  }
  
  .container__botoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 54px; /* Define a posição em relação ao fundo da tela */
    width: 100%;
    height: 54px;
    flex-direction: row;
    background: #20221d;
  }
  
  .texto-escondido{
    display: none;
}
}



